//text colors

$primary-text-color: #edd8d8;
$secondary-text-color: #d1ede4;

//background colors
$primary-bg-color: #1a1a1a;
$secondary-bg-color: #000;

//other colors
$red-orange: #e84b4b;
$green: #1fedac;
$pinkish: #d4145a;
$yellow: #ffff00;
$orange: #ffa200;
