@import "../../styles/colors";
@import "../../styles/breakpoints";

#project-image {
  transition: 0.2s ease-in-out;

  &:hover {
    top: -210%;
    transition: 1.7s ease-in-out;
  }
}

@include break("mobile") {
  .placeholder {
    position: relative;

    margin-block: 20rem;
  }

  .project-card {
    position: relative;
    //   background-color: aquamarine;
    width: 470.59rem;

    &::after {
      content: " ";
      background-color: $orange;

      position: absolute;
      top: -0rem;
      left: 210rem;
      height: 11rem;
      width: 50rem;
      border-radius: 20rem;
    }

    & .project-preview {
      position: relative;
      // width: 470.59rem;
      width: 100%;
      height: 269.57rem;
      background-color: transparent;
      border: 6rem solid $orange;
      border-radius: 15rem;
      overflow: hidden;

      margin-bottom: 9rem;

      & img {
        position: relative;
        top: 0rem;
        width: 101%;
        height: auto;
      }
    }

    & .project-info {
      position: relative;

      display: flex;
      flex-direction: row;
      padding-inline: 10rem;
      // gap: 3rem;
      justify-content: space-between;
      align-items: center;
      // width: 100%;
      // background-color: aqua;

      & .info-details {
        position: relative;
        //   width: 100%;

        display: flex;
        flex-direction: column;
        gap: 3rem;
        //   background-color: peru;

        & h2 {
          position: relative;
          width: 264rem;
          font-family: Poppins;
          font-weight: 600;
          font-size: 28rem;
          line-height: 32rem;
        }

        & p {
          font-family: Poppins;
          font-weight: 500;
          font-size: 22rem;
          line-height: 24rem;
        }
      }

      .view-button {
        // margin-top: 30rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150.61rem;
        height: 49.86rem;
        background: transparent;
        border: 3rem solid #fff;

        font-family: Poppins;
        font-weight: 600;
        font-size: 16rem;
        line-height: 19rem;
      }
    }
  }
}

@include break("tablet") {
  .placeholder {
    position: relative;

    margin-block: 90rem;
  }

  .project-card {
    position: relative;
    //   background-color: aquamarine;
    width: 790rem;

    &::after {
      content: " ";
      background-color: $orange;

      position: absolute;
      top: -0rem;
      left: 367rem;
      height: 20rem;
      width: 69rem;
      border-radius: 10rem;
    }

    & .project-preview {
      position: relative;
      // width: 470.59rem;
      width: 100%;
      height: 453rem;
      background-color: transparent;
      border: 11rem solid $orange;
      border-radius: 19rem;
      overflow: hidden;

      margin-bottom: 9rem;

      & img {
        position: relative;
        top: 0rem;
        width: 101%;
        height: auto;
      }
    }

    & .project-info {
      position: relative;

      display: flex;
      flex-direction: row;
      padding-inline: 23rem;
      // gap: 3rem;
      justify-content: space-between;
      align-items: center;
      // width: 100%;
      // background-color: aqua;

      & .info-details {
        position: relative;
        //   width: 100%;

        display: flex;
        flex-direction: column;
        gap: 3rem;
        //   background-color: peru;

        & h2 {
          position: relative;
          width: 504rem;
          font-family: Poppins;
          font-weight: 600;
          font-size: 50.4rem;
          line-height: 60.48rem;
          text-align: left;
          // background-color: pink;
        }

        & p {
          font-family: Poppins;
          font-weight: 500;
          font-size: 39.29rem;
          line-height: 47.15rem;
        }
      }

      .view-button {
        // margin-top: 30rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 259rem;
        height: 75rem;

        background: transparent;
        border: 3rem solid $primary-text-color;

        font-family: Poppins;
        font-weight: 600;
        font-size: 29.27rem;
        line-height: 35.12rem;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: $primary-text-color;
          color: black;
        }
      }
    }
  }
}
