@import "../../styles/colors";

.Big-post-card {
  position: relative;
  background-color: black;
  width: 484.29rem;
  height: 689.95rem;
  border-radius: 31rem;
  margin-bottom: 68rem;
  overflow: hidden;

  & .thumbnail-container {
    &::after {
      content: " ";
      position: absolute;
      top: 0rem;
      left: 0rem;
      width: 101%;
      height: 101%;
      //   background-color: red;

      background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.73) 56.06%,
        rgba(0, 0, 0, 0.7) 100%
      );
      background-blend-mode: multiply;
    }

    & .post-thumbnaill {
      position: absolute;
      width: 101%;
      height: 101%;
      // background-color: lime;
    }
  }

  & .post-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 16.1rem;

    padding-inline: 20rem;

    & .post-dots {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 41rem;
      height: 41rem;
      border-radius: 20.5rem;
      border: 2rem solid transparent;
      background: #d1ede4;
      transition: 0.4s ease-in-out;

      &:hover {
        background-color: black;
        border: 2rem solid white;

        & .dot-wrapper span {
          position: relative;
          height: 5rem;
          width: 5rem;
          border-radius: 100%;

          background-color: white;
        }
      }

      & .dot-wrapper {
        display: flex;
        // justify-content: center;
        // align-items: center;
        gap: 5rem;

        height: max-content;
        width: max-content;

        & span {
          position: relative;
          height: 5rem;
          width: 5rem;
          border-radius: 100%;

          background-color: black;
        }
      }
    }

    & .post-tag {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 125rem;
      height: 41rem;
      border-radius: 20.5rem;
      background-color: #d1ede4;
      color: black;

      font-family: Poppins;
      font-weight: 600;
      font-size: 16rem;
      letter-spacing: 0.01em;
      line-height: 27rem;
    }
  }

  & .post-details {
    position: absolute;
    bottom: 28rem;
    left: 0rem;
    width: 100%;
    height: max-content;
    // padding-top: 349.1rem;
    padding-inline: 20rem;
    // background-color: lime;

    & h2 {
      position: relative;
      width: 354rem;
      font-family: Poppins;
      font-weight: bold;
      font-size: 29rem;
      letter-spacing: -0.04em;
      line-height: 36rem;
      color: $primary-text-color;
      // color: red;
      margin-bottom: 9rem;
    }

    & p {
      position: relative;
      width: 374rem;
      max-height: 124rem;
      font-family: Poppins;
      font-weight: normal;
      font-size: 24rem;
      letter-spacing: 0.01em;
      line-height: 30rem;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & .details {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24.1rem;

      & .author-details {
        position: relative;
        display: flex;
        gap: 10rem;
        // justify-content: space-between;
        width: max-content;
        //   background-color: maroon;

        & h3 {
          font-family: Lato;
          font-weight: 500;
          font-size: 22rem;
          letter-spacing: 0.01em;
          line-height: 43.25rem;
          text-align: left;
          color: $primary-text-color;
        }

        & img {
          position: relative;
          //   background-color: palevioletred;
          width: 43rem;
          height: 43rem;
          border-radius: 21.5rem;
        }
      }
    }
  }
}

.Small-post-card {
  position: relative;
  background-color: black;
  width: 484.29rem;
  height: 388rem;
  border-radius: 14rem;
  margin-bottom: 68rem;

  overflow: hidden;

  & .thumbnail-container {
    &::after {
      content: " ";
      position: absolute;
      top: 0rem;
      left: 0rem;
      width: 101%;
      height: 101%;
      //   background-color: red;

      background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.73) 56.06%,
        rgba(0, 0, 0, 0.7) 100%
      );
      background-blend-mode: multiply;
    }

    & .post-thumbnaill {
      position: absolute;
      width: 101%;
      height: 101%;
      // background-color: lime;
    }
  }

  & .post-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 16.1rem;

    padding-inline: 20rem;

    & .post-dots {
      position: relative;

      display: flex;
      justify-content: center;
      align-items: center;

      width: 41rem;
      height: 41rem;
      border-radius: 20.5rem;
      border: 2rem solid transparent;
      background: #d1ede4;
      transition: 0.4s ease-in-out;

      &:hover {
        background-color: black;
        border: 2rem solid white;

        & .dot-wrapper span {
          position: relative;
          height: 5rem;
          width: 5rem;
          border-radius: 100%;

          background-color: white;
        }
      }

      & .dot-wrapper {
        display: flex;
        // justify-content: center;
        // align-items: center;
        gap: 5rem;

        height: max-content;
        width: max-content;

        & span {
          position: relative;
          height: 5rem;
          width: 5rem;
          border-radius: 100%;

          background-color: black;
        }
      }
    }

    & .post-tag {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 125rem;
      height: 41rem;
      border-radius: 20.5rem;
      background-color: #d1ede4;
      color: black;

      font-family: Poppins;
      font-weight: 600;
      font-size: 16rem;
      letter-spacing: 0.01em;
      line-height: 27rem;
    }
  }

  & .post-details {
    position: absolute;
    bottom: 4rem;
    left: 0rem;
    width: 100%;
    height: max-content;
    // padding-top: 349.1rem;
    padding-left: 19.7rem;
    padding-right: 35.1rem;
    //   background-color: lime;

    & h2 {
      position: relative;
      width: 446.47rem;
      font-family: Poppins;
      font-weight: bold;
      font-size: 29rem;
      letter-spacing: -0.04em;
      line-height: 36rem;
      color: $primary-text-color;
      //   margin-bottom: 10rem;
      // background-color: lime;
    }

    & p {
      display: none;
      // position: relative;
      // width: 374rem;
      // max-height: 124rem;
      // font-family: Poppins;
      // font-weight: normal;
      // font-size: 24rem;
      // letter-spacing: 0.01em;
      // line-height: 30rem;
      // text-align: left;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }

    & .details {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 14.1rem;

      & .author-details {
        position: relative;
        display: flex;
        gap: 10rem;
        // justify-content: space-between;
        width: max-content;
        //   background-color: maroon;

        & h3 {
          font-family: Lato;
          font-weight: 500;
          font-size: 22rem;
          letter-spacing: 0.01em;
          line-height: 43.25rem;
          text-align: left;
          color: $primary-text-color;
        }

        & img {
          position: relative;
          //   background-color: palevioletred;
          width: 43rem;
          height: 43rem;
          border-radius: 21.5rem;
        }
      }
    }
  }
}
