@import "../../../styles/colors";

#focus {
  position: relative;
  background-color: $secondary-bg-color;
  padding-left: calc(35vw / 524vw * 100vw);
  padding-bottom: 73rem;
  padding-top: 238rem;
  margin-top: -167rem;
  overflow: hidden;

  border-radius: 0 0 94rem 94rem;
  z-index: 99;

  & h2 {
    position: relative;
    margin-bottom: 26rem;
  }

  & aside {
    display: flex;
    flex-direction: column;
    gap: 25rem;
    margin-bottom: 52rem;
  }

  & .p-content {
    position: relative;
    width: 440rem;
    margin-bottom: 38rem;
  }
}
