@import "../../../styles/colors";
@import "../../../styles/breakpoints";

@include break("mobile") {
  #Goals {
    position: relative;
    background-color: $secondary-bg-color;
    padding-left: calc(35vw / 524vw * 100vw);
    padding-bottom: 73rem;
    padding-top: 125rem;
    margin-top: -83rem;
    overflow: hidden;

    z-index: 97;

    border-radius: 0 0 0 0;

    .thaGoals {
      display: flex;
      flex-direction: column;
      gap: 99rem;
    }

    & .subtitle {
      margin-bottom: -10rem;
    }

    & h2 {
      margin-bottom: 43.4rem;
    }

    .goal-card {
      display: flex;
      flex-direction: column;

      .numtitle {
        position: relative;
        margin-bottom: 19rem;

        &::after {
          content: " ";
          position: absolute;
          bottom: -8rem;
          left: -4rem;
          width: 62rem;
          height: 3rem;
          background-color: pink;
        }
      }

      & .title {
        width: 317rem;
        margin-bottom: 15.8rem;
      }

      & .p-content {
        position: relative;
        width: 421.5rem;
        font-family: Lato;
        font-weight: normal;
        font-size: 25rem;
        letter-spacing: 0.01em;
        line-height: 34rem;
        text-align: left;
        margin-bottom: 29rem;
      }
    }
  }
}

@include break("tablet") {
  #Goals {
    position: relative;
    background-color: $secondary-bg-color;
    padding-left: 0;
    padding-bottom: 73rem;
    padding-top: 125rem;
    margin-top: -83rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 97;

    border-radius: 0 0 0 0;

    & .subtitle {
      margin-bottom: -10rem;
    }

    & h2 {
      font-family: Poppins;
      font-weight: 600;
      font-size: 112rem;
      letter-spacing: -0.04em;
      line-height: 119rem;

      margin-bottom: 43.4rem;
    }

    .thaGoals {
      display: flex;
      flex-direction: row;
      gap: 189rem;
    }

    .goal-card {
      display: flex;
      flex-direction: column;
      align-items: center;

      .numtitle {
        position: relative;
        margin-bottom: 19rem;

        &::after {
          content: " ";
          position: absolute;
          bottom: -8rem;
          left: -12rem;
          width: 62rem;
          height: 3rem;
          background-color: pink;
        }
      }

      & .title {
        width: 543rem;
        margin-bottom: 15.8rem;
      }

      & .p-content {
        position: relative;
        width: 521.88rem;
        font-family: Lato;
        font-weight: normal;
        font-size: 25rem;
        letter-spacing: 0.01em;
        line-height: 34rem;
        text-align: center;
        margin-bottom: 29rem;
      }
    }
  }
}
