@import "../../../styles/colors";
@import "../../../styles/breakpoints";

@include break("mobile") {
  #Home {
    position: relative;
    background-color: $primary-bg-color;
    padding-left: calc(35vw / 524vw * 100vw);
    padding-bottom: calc(61vw / 1080vw * 100vh);
    padding-top: 228rem;
    margin-top: -173rem;
    overflow: hidden;

    border-radius: 94rem;
    z-index: 100;

    & aside {
      display: flex;
      flex-direction: column;
    }

    & h1 {
      position: relative;
      margin-bottom: 23.9rem;
      order: 2;
      width: 355rem;
    }

    & p {
      position: relative;
      margin-bottom: 27.1rem;
      order: 3;
      width: 365rem;
    }

    & .subtitle {
      position: relative;
      margin-bottom: 6rem;
      order: 1;
    }

    .scroll {
      order: 4;
    }
  }
}

@include break("tablet") {
  #Home {
    position: relative;
    background-color: $primary-bg-color;
    padding-left: calc(245.6vw / 1920vw * 100vw);
    padding-bottom: 77.6rem;
    padding-top: 204.53rem;
    height: 1146rem;
    margin-top: -132.5rem;
    overflow: hidden;

    border-radius: 94rem;
    z-index: 100;

    & aside {
      display: flex;
      flex-direction: column;
      margin-top: 13rem;
    }

    & h1 {
      position: relative;
      margin-bottom: 23.9rem;
      order: 2;
      width: 595rem;
    }

    & p {
      position: relative;
      margin-bottom: 36.5rem;
      order: 3;
      width: 664rem;
    }

    & .CV {
      position: relative;
      // width: 468.63rem;
      height: 180.5rem;
      // background-color: pink;
      order: 4;
      display: flex;
      align-items: center;
      gap: 23.1rem;

      & .img-area {
        position: relative;
        height: 180.5rem;
        width: 271.5rem;
        background-color: yellow;
        border-radius: 41.5rem;
        overflow: hidden;
      }

      & #dowload-CV {
        position: absolute;
        height: 101rem;
        width: 101rem;
        background-color: green;
        // center div with transform 50%
        // center div with transform 50%
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }

      & #resume-text {
        font-family: Lato;
        font-weight: normal;
        font-size: 24rem;
        letter-spacing: 0.01em;
        line-height: 43.25rem;
        color: $primary-text-color;
        // text-align: left;
      }
    }

    & .subtitle {
      position: relative;
      margin-bottom: 6rem;
      order: 1;
    }

    .scroll {
      // background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: center;

      // width: 100%;
      margin-left: calc(-35vw / 524vw * 100vw);

      order: 5;
    }

    & .heroImg-area {
      position: absolute;
      // background-color: maroon;
      width: 452.82rem;
      height: 685.34rem;
      left: 61.86vw;
      top: 235rem;
      // z-index: 28;

      // &::before {
      //   content: " ";
      //   position: absolute;
      //   // background-color: lime;
      //   top: 15rem;
      //   width: 446rem;
      //   height: 645.88rem;
      //   border: 1rem solid #d1ede4;

      //   transform: rotateZ(12.6deg);
      // }

      & .shell {
        position: absolute;
        // background-color: lime;
        top: 15rem;
        width: 446rem;
        height: 645.88rem;
        border: 1rem solid #d1ede4;

        transform: rotateZ(12.6deg);
        z-index: 29;

        & .twink-left {
          position: absolute;
          left: -42rem;
          bottom: -46rem;
          transform: rotateZ(-12.6deg);
        }

        & .twink-right {
          position: absolute;
          left: 425rem;
          top: -27rem;
          transform: rotateZ(-12.6deg);
        }
      }

      & .hero-img {
        position: absolute;
        top: 0;
        height: inherit;
        width: auto;
        z-index: 31;
      }
    }
  }
}
