/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

// @import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;500;600;700&display=swap");

//  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: rgb(2, 2, 54);
  // width: 100vw;
  // overflow: hidden;
}

a:link {
  color: red;
  // background-color: pink;
  text-decoration: none;
}

.html-only {
  display: none;
}

// .desktop {
//   display: none;
// }

html {
  font-size: 0.19vw;
  scroll-behavior: smooth;
}

// @media (width < 530px) {
//   html {
//     font-size: 1px;
//     /* background-color: red; */
//   }
// }

// @media (width < 430px) {
//   html {
//     font-size: 0.71px;
//     /* background-color: red; */
//   }
// }

// @media (width < 375px) {
//   html {
//     font-size: 0.71px;
//     /* background-color: red; */
//   }
// }

// @media (width > 1280px) {
//   html {
//     font-size: 0.75px;
//     /* background-color: rebeccapurple; */
//   }
// }

@media (min-width: 560px) {
  html {
    font-size: 0.05vw;
    /* background-color: rebeccapurple; */
  }
}

// @media (width > 1600px) {
//   html {
//     font-size: 1px;
//     /* background-color: orange; */
//   }
// }

.comp {
  // color: red;
  animation: 2s ease-in-out;
  transition: 2s ease-in;
  color: var(--color);
  touch-action: pan-y;
  user-select: none;
  // animation-direction: alternate;
}

@keyframes animate {
  0% {
    color: black;
  }

  100% {
    color: var(--color);
  }
}

@keyframes clickAnimate {
  0% {
    color: black;
  }

  100% {
    color: var(--color);
  }
}
